# 分组
任何分组(groupby)操作都涉及原始对象的以下操作之一。它们是:
1,分割对象
2,应用一个函数
3,结合的结果
在许多情况下，我们将数据分成多个集合，并在每个子集上应用一些函数。
在应用函数中，可以执行以下操作:
1,聚合,计算汇总统计
2,转换,执行一些特定于组的操作
3,过滤,在某些情况下丢弃数据

In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

# 将数据拆分成组
Pandas对象可以分成任何对象。有多种方式来拆分对象，如 
obj.groupby(‘key’)
obj.groupby([‘key1’,’key2’])
obj.groupby(key,axis=1)

In [4]:
print(df.groupby('Team'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021E2B248BA8>

# 查看分组

In [18]:
print(df.groupby('Team').groups)

{'Devils': Int64Index([2, 3], dtype='int64'), 'Kings': Int64Index([4, 6, 7], dtype='int64'), 'Riders': Int64Index([0, 1, 8, 11], dtype='int64'), 'Royals': Int64Index([9, 10], dtype='int64'), 'kings': Int64Index([5], dtype='int64')}

In [19]:
#按多列分组 
print(df.groupby(['Team','Year']).groups)

{('Devils', 2014): Int64Index([2], dtype='int64'), ('Devils', 2015): Int64Index([3], dtype='int64'), ('Kings', 2014): Int64Index([4], dtype='int64'), ('Kings', 2016): Int64Index([6], dtype='int64'), ('Kings', 2017): Int64Index([7], dtype='int64'), ('Riders', 2014): Int64Index([0], dtype='int64'), ('Riders', 2015): Int64Index([1], dtype='int64'), ('Riders', 2016): Int64Index([8], dtype='int64'), ('Riders', 2017): Int64Index([11], dtype='int64'), ('Royals', 2014): Int64Index([9], dtype='int64'), ('Royals', 2015): Int64Index([10], dtype='int64'), ('kings', 2015): Int64Index([5], dtype='int64')}

# 迭代遍历分组
使用groupby对象，可以遍历类似itertools.obj的对象。

In [20]:
grouped = df.groupby('Year')

for i,j in grouped:
    print(i)
    print(j)
 # 默认情况下，groupby对象具有与分组名相同的标签名称

2014
     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701
2015
      Team  Rank  Year  Points
1   Riders     2  2015     789
3   Devils     3  2015     673
5    kings     4  2015     812
10  Royals     1  2015     804
2016
     Team  Rank  Year  Points
6   Kings     1  2016     756
8  Riders     2  2016     694
2017
      Team  Rank  Year  Points
7    Kings     1  2017     788
11  Riders     2  2017     690

# 选择一个分组
使用get_group()方法，可以选择一个组。

In [21]:
print(grouped.get_group(2014))

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

# 聚合
聚合函数为每个组返回单个聚合值。当创建了分组(group by)对象，就可以对分组数据执行多个聚合操作。
一个比较常用的是通过聚合或等效的agg方法聚合 
我们要对分组数据进行多种计算，比如要同时计算各组数据的平均数、标准差、总数等等，这时候用agg()就比较好了。

In [22]:
print(grouped['Points'].agg(np.mean))

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [ ]:
data2014 = grouped.get_group(2014)
print(data2014)

In [ ]:
#另一种查看每个分组的大小的方法是应用size()函数 -
grouped = df.groupby('Team')
print(grouped.agg(np.size))

# 一次应用多个聚合函数
通过分组系列，还可以传递函数的列表或字典来进行聚合，并生成DataFrame作为输出

In [1]:
grouped = df.groupby('Team')
agg = grouped['Points'].agg([np.sum, np.mean, np.std])
print(agg)

NameError: name 'df' is not defined

# query

In [4]:
d={
    'name':['xiao','dan','qi'],
    'sex':['male','female','male'],
    'age':[23,24,24]
}
df0=pd.DataFrame(d)
print(df0)

   name     sex  age
0  xiao    male   23
1   dan  female   24
2    qi    male   24

In [5]:
print(df0.query("age==24"))

  name     sex  age
1  dan  female   24
2   qi    male   24

In [ ]:
#注意： query后面只支持string形式的值，而‘age’==24返回的是一个bool类型，结果不是true就是false，所以需要进行如下操作，才可返回正确结果

# pandas.cut 小结
    pandas.cut(x, bins, right=True, labels=None, retbins=False, precision=3, 
            include_lowest=False, duplicates='raise')
    切割一维的数组，如连续的年龄segment成年龄段
    x:一维的数组
    bins：int，标量的序列，pandas的intervalindex
    right：Boolean默认是True，表示范围包含右边缘的值否
    labels：数组，bool，任意值，返回值的label
    retbins：返回bins与否，当bins是标量时无效
    precision：展示bins的数量
    include_lowest:分开的是左闭合区间与否
    duplicates:If bin edges are not unique, raise ValueError or drop non-uniques.

In [6]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
print(ages)
bins = [18, 25, 35, 60, 100]
labels = ['young','a','b','old']
age1 = pd.cut(ages,bins,labels=labels)
print(age1)

[20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
[young, young, young, a, young, ..., a, old, b, b, a]
Length: 12
Categories (4, object): [young < a < b < old]

# 表连接 表合并

In [7]:
import pandas as pd
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print("========================================")
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
========================================
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [8]:
# 在一个键上合并两个数据帧
rs = pd.merge(left,right,on='id')
print(rs)

   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

In [9]:
#合并多个键上的两个数据框  一定要看懂  
rs = pd.merge(left,right,on=['id','subject_id'])
print(rs)

   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty

# 表 合并使用“how”的参数
如何合并参数指定如何确定哪些键将被包含在结果表中。
如果组合键没有出现在左侧或右侧表中，则连接表中的值将为NA。
这里是how选项和SQL等效名称的总结
合并方法	SQL等效	描述
left	LEFT OUTER JOIN	    使用左侧对象的键
right	RIGHT OUTER JOIN	使用右侧对象的键
outer	FULL OUTER JOIN  	使用键的联合
inner	INNER JOIN	        使用键的交集

In [10]:
import pandas as pd
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print("---------------------------")
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
---------------------------
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

# Left Join示例

In [11]:
rs = pd.merge(left, right, on='subject_id', how='left')
print(rs)​subject_id
#以subject_id为连接键，以左侧的为准，没有的填NaN,

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty

# Right Join示例

In [13]:
import pandas as pd
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print("---------------------------")
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
---------------------------
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [15]:
rs = pd.merge(left, right, on='subject_id', how='right')
print(rs)

   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   4.0   Alice       sub6     4  Bryce
3   5.0  Ayoung       sub5     5  Betty
4   NaN     NaN       sub3     3   Bran